.circunscripcionesN {
    width: 120px;
    margin: 0 0 0px;
}
.title_municipio {
    color: #e73a8c;
    font-size: 18px;
}
.font-size-22 {
    font-size: 22px;
}
.display-inline {
    display: inline-table;
}
/***pruea**/

.bg-purple {
    background: rgb(99, 42, 91);
}
.first-header {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.display-inline {
    display: inline-table;
}
.breadprep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}
.actasCapturadas {
    color: #B4007B;
    font-weight: 500;
}
.rosa-ine {
    color: rgb(219, 18, 147);
    font-weight: 500;
}
.morado-ine {
    color: rgb(118, 107, 178);
    font-weight: 500;
}
.table-mdi {
    color: #e73a8c;
}
/**vertical log eliminar**/

.ve-n {
    vertical-align: middle !important;
}
.back-img-achurado {
    background: url('./img/achurado.png');
}