/**.highcharts-point {
    display: none;
}
/*Colors**/
#mapa {
  height:100%;
  width:100%;
}

.jvectormap-container {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    touch-action: none;
    float: right;
}

.bg-purple {
    background: #804682;
}
.bg-pink {
    background: #e73a8c !important;
}
.bg-pi {
    background-color: #f2dede !important;
}
.bg-transparent {
    background-color: transparent!important;
}
.txt-pnk {
    color: #f733a9 !important;
}
.txt-prpl {
    color: #804682 !important;
}
/**Componentes**/

html {
    font-family: 'Roboto', sans-serif !important;
}
.head-conf {
    margin-top: 1%;
    margin-bottom: 1%;
}
.title-main label {
    padding-bottom: 0;
    margin-bottom: 0px;
}
.title-main {
    font-size: 27px;
    margin-bottom: 0px;
    line-height: 1;
}
/**Butons**/

.btn-prep {
    color: rgb(118, 107, 178);
    background-color: #fff;
    border-color: rgb(118, 107, 178);
}
.select-data {
    color: black;
    border-bottom-style: solid;
    border-color: #f733a9;
}
.dropdown-item:hover {
    background-color: #F2C2E0 !important;
}
.dropdown-menu {
    background-color: #FDF4F6 !important;
    margin: 0 !important;
    width: 100%;
}
.btn-small {
    padding: .25rem .2rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-ayuda {
    color: rgb(118, 107, 178);
    background-color: rgb(118, 107, 178);
    border-color: rgb(118, 107, 178);
}
/**Texto**/

.ve-n {
    vertical-align: middle !important;
}
.av-txt {
    font-size: 14.5px;
}
.Resumen-vot {
    color: #6A1B9A;
    font-size: 18px;
}
.font-size-22 {
    font-size: 22px;
}
.font-inline-15 {
    line-height: 15px;
}
.text-space {
    line-height: 13px !important;
}
.actasCapturadas {
    color: #B4007B;
    font-weight: 500;
}
.table-mdi {
    color: #e73a8c;
}
.font-w-400 {
    font-weight: 400;
}
.circunscripcionesN {
    width: 120px;
    margin: 0 0 0px;
}
.morado-ine {
    color: rgb(118, 107, 178);
    font-weight: 500;
}
/**Tablas**/

.head-topline {
    border-top-style: solid;
    border-color: #f733a9;
}
.bg-table-g-left {
    background: #ECEFF1;
}
.bg-table-g-n {
    background: #D7D5D5;
}
table {
    border-collapse: collapse;
}
.table thead th {
    vertical-align: middle !important;
    border-bottom: 2px solid #f733a9;
}
.btm {
    vertical-align: middle !important;
    border-bottom: 2px solid #f733a9 !important;
}
.scroll-tables {
    overflow-y: scroll;
    height: 450px;
}
.bottom-border {
    border-bottom-style: solid;
    border-color: #f733a9;
}
/**Progres Bar**/

.progress-bar-prep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: rgb(99, 42, 91);
    transition: width .6s ease;
    border-radius: 0px;
}
.rad-pro {
    border-radius: 0px !important;
}
.img-null {
    background-image: url('../img/rep_prep/achurado2.png');
}