/**Colors prrp qro*/

.bg-purple {
    background: rgb(99, 42, 91);
}
.first-header {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.title-main {
    font-size: 27px;
    margin-bottom: 0px;
    line-height: 1;
}
.title-main label {
    padding-bottom: 0;
    margin-bottom: 0px;
}
.font-size-22 {
    font-size: 22px;
}
.display-inline {
    display: inline-table;
}
.btn-prep {
    color: rgb(118, 107, 178);
    background-color: #fff;
    border-color: rgb(118, 107, 178);
}
.btn-small {
    padding: .25rem .2rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.breadprep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}
.actasCapturadas {
    color: #B4007B;
    font-weight: 500;
}
.progress-bar-prep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: rgb(99, 42, 91);
    transition: width .6s ease;
}
.progress-bar-prep-rosa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: rgb(231, 58, 140);
    transition: width .6s ease;
}
.rosa-ine {
    color: rgb(231, 58, 140);
    font-weight: 500;
}
.morado-ine {
    color: rgb(118, 107, 178);
    font-weight: 500;
}
.rosafuerte-ine {
    color: rgb(210, 6, 127);
    font-weight: 500;
}
.btn-ayuda {
    color: rgb(118, 107, 178);
    background-color: rgb(118, 107, 178);
    border-color: rgb(118, 107, 178);
}
.encabezado-prep {
    font-size: 1.5em;
}
/*
  Hoja de Estilos del sitio PREP NACIONAL FEDERAL 2018.
*/

/* Container menu escritorio */

.container-menu {
    width: 100%;
    margin-right: 0rem 0rem;
    /**padding: 0.4rem 0rem;*/
}
.mostrarModal {
    display: block !important;
}
.ocultarModal {
    display: none !important;
}
/* Header escritorio */

.headerEscritorio {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 3px;
    margin-top: 10px;
}
img.logosEscritorio {
    height: 50px;
}
.fondoHeader {
    background: linear-gradient(to right, #d5007f 0%, #950054 100%);
    text-align: center;
}
.paddingMenu {
    padding: 10px 0px;
}
.paddingSubMenu {
    padding: 10px 0px;
}
.paddingFiltros {
    padding-top: 18px;
}
.paddingMigajas {
    padding-top: 18px;
}
.paddingInformacion {
    padding-top: 8px;
}
.paddingTitulo {
    padding-top: 12px;
}
.paddingResumenActas {
    padding-left: 40px !important;
}
a.linkBlanco:hover {
    color: white !important;
}
.contenedorCasilla {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.fondoAyuda {
    background-color: #7F4583;
    border-color: #fff;
    border-left-style: solid;
    border-right-style: solid;
}
.fondoConsultaCasilla {
    background-color: #7F4583;
    border-color: #fff;
    border-right-style: solid;
}
.candidaturaActiva {
    background-color: #F2C2E0;
}
.candidaturaActiva a {
    font-weight: bold;
    color: #3C3C3B;
    font-size: 16px !important;
}
.negritas {
    font-weight: bold;
}
.iconoReloj {
    font-size: 30px !important;
    color: #950054;
    margin-right: 8px;
}
.iconoReloj:hover {
    opacity: unset !important;
}
/* Estilos del header versión móvil */

.navegadorCandidatura {
    background: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFF;
    text-align-last: center;
    font-weight: bold;
    font-size: 16px;
}
/*
.fondoHeader[_ngcontent-c1] {
  margin-bottom: 0px !important;
}
*/

nav li {
    padding: 0px 0px;
    cursor: pointer;
}
.btnActualizar {
    background-color: #FFFFFF;
    color: #7F4583;
    font-weight: bolder !important;
    border-style: solid !important;
    border-color: #7F4583 !important;
    cursor: pointer;
    padding: 4px 6px !important;
}
.btnActualizar:hover {
    background-color: #832e8a;
    color: white;
}
.btnActualizarMovil {
    background-color: #FFFFFF;
    color: #7F4583;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #7F4583 !important;
    cursor: pointer;
    padding: 1px 3px !important;
    line-height: 1;
    margin-top: 15px;
}
.btnActualizarMovil:hover {
    background-color: #832e8a;
    color: white;
}
.btnBaseDatos {
    background-color: #3C3C3B; //color: #FFFFFF;
    cursor: pointer;
    padding: 4px 6px !important;
}
.btnBaseDatos:hover {
    background-color: #832e8a;
}
.btnBaseDatos:hover a {
    text-decoration: none;
}
.btnPresidenciaDetalle {
    background-color: #82368C;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.1rem 0.5rem !important;
    line-height: 1;
}
.informacionTexto p {
    margin-bottom: 0;
}
.colorIcono {
    color: #7F4583 !important;
}
.colorIconoBlanco {
    color: #ffffff;
}
.mobil .informacionTexto {
    font-size: 0.8rem;
}
.mobil .btnActualizar {
    font-size: 0.8rem !important;
    padding: .3em .5rem;
}
.btnBuscar {
    background-color: #D5007f;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.5rem 1rem !important;
}
.iconoSeccion {
    color: #7F4583;
    cursor: pointer;
}
.tablaActas {
    width: 100%;
}
.tablaActas th {
    background-color: #ECECEC;
    font-weight: normal;
    height: 3rem;
    border-bottom-width: 2px !important;
    border-bottom-color: #D5007f !important;
}
.tablaActas td {
    height: 2rem;
}
.tablaActas .totalHeader {
    font-weight: bold;
}
.tablaActas tr:nth-child(even) {
    background-color: #ECECEC;
}
.tablaActas .casilla {
    text-align: left;
    padding-left: 1rem;
}
.tablaActas th, .tablaActas td {
    text-align: center;
}
.tablaActasParticipacion {
    width: 100%;
    border-bottom-width: 2px !important;
    border-bottom-color: #D5007f !important;
}
.tablaActasParticipacion th {
    background-color: #ECECEC;
    font-weight: normal;
    height: 3rem;
    border-bottom-width: 2px !important;
    border-bottom-color: #D5007f !important;
}
.tablaActasParticipacion td {
    height: 2rem;
}
.tablaActasParticipacion tr:nth-child(even) {
    background-color: #ECECEC;
}
.tablaActasParticipacion .casilla {
    text-align: left;
    padding-left: 1rem;
}
.tablaActasParticipacion th, .tablaActasParticipacion td {
    text-align: center;
}
.textoTotalListaNominal {
    font-size: 15px;
    color: #B5007B !important;
}
.textoActasContabilizadas {
    font-size: 15px;
    color: #FF3390 !important;
}
.comboSecciones {
    border-radius: 0 !important; //border-right: none !important;/*
    //border-top: none !important;
    //border-bottom-width: 2px !important;
    //border-bottom-color: #D5007f !important;*/
    border-width: 2px !important;
    border-color: #D5007f !important;
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, #D5007f, #D5007f);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.iconoIntroduccion {
    color: #7F4583 !important;
}
.iconoDesactivado {
    color: #858585;
}
.iconoUrbanas {
    color: #3e3e3f;
}
.fondoGrisClaro {
    background-color: #E2DEE5;
}
.fondoGrisFuerte {
    background-color: #EFEFF0;
}
.tablaInconsistencias {
    padding: 0px !important;
    margin: 0px !important;
}
.table-prep td.ashurado, .table-prep th.ashurado {
    /*    height              : 33px;
    background:  #D2D5D4 !important;
    background-image  : url('../../img/achurado.png') !important;*/
}
.table-distribucion td {
    height: 24px;
}
.subir-tabla-resultados {
    position: absolute;
    top: 330px;
}
.textoParticipacionCiudadana {
    font-size: 18pt;
    color: #D5007f;
}
.porcentajeParticipacion {
    font-size: 25pt;
    color: #7F4582;
}
.iconoCloseRosa {
    font-size: 24px !important;
    color: #E2488E;
}
.textoMiddle {
    vertical-align: middle !important;
}
.sinBorde {
    border-style: none !important;
    border-left-style: hidden !important;
    border-right-style: hidden !important;
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
}
/*Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky*/

/*Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky*/

/*Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky*/

.menuxSticky {
    background-color: white;
}
.component {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
/* For appearance */

.sticky-wrap {
    overflow-x: hidden !important;
    overflow-y: hidden;
    position: relative;
    /*margin            : 3em 0;*/
    width: 100%;
}
.sticky-wrap .sticky-thead, .sticky-wrap .sticky-col, .sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.sticky-wrap td, .sticky-wrap th {
    box-sizing: border-box;
}
/* Not needed for sticky header/column functionality */

td.user-name {
    text-transform: capitalize;
}
/*Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky Prueba Sticky*/

/*Color de signo de pregunta*/

.color_question {
    color: #7F4583 !important;
}
/*Colores relleno en tablas Actas y  Participacion Ciudadana*/

.tablaHeaderTituloColor_apc {
    background-color: #ECECEC;
}
.tablaHeaderFilasColor_apc {
    background-color: #FDF4F6;
}
.tablaHeaderColumnaColor_apc {
    background-color: #F5F5F5;
}
/*Colores relleno en tabla General*/

.tablaHeaderFilasColor_grl {
    background-color: #FDF4F6;
}
.tablaHeaderColumnaColor_grl {
    background-color: #F5F5F5;
}
/*Color de bordes en tabla*/

.largoCelda {
    width: 15%;
}
.tablaBordeInferior {
    border-bottom: 2px solid #D5007f!important;
}
.tablaBordeInferior th {
    border-bottom: 2px solid #D5007f!important;
}
.tablaBordePrimero tr {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordePrimero td {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordePrimero th {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordeUltimo tr {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordeUltimo:last-child td {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordeUltimo:last-child th {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaBordeInferior2 th {
    border-bottom: 2px solid #D5007f!important;
}
.tablaUltimo td {
    border-bottom-color: #B5007B !important;
    border-style: solid;
}
.tablaResumenActas div {
    background-color: #f4f4f4;
    border-right: 3px solid #3e3e3f;
}
.tableTotales td {
    border-right: 2px solid #3e3e3f;
}
.divBordeInferior {
    border-bottom: 2px solid #D5007f!important;
}
/* Colores del footer */

.footer {
    padding: 0px;
    bottom: 0;
    width: 100%;
    position: relative;
}
.footerFondo1 {
    color: #000000;
    background: #F6F6F6;
    padding: 8px 0px;
}
.footerFondo2 {
    color: #FFFFFF;
    background: #848286;
    padding: 8px 0px;
}
.footerFondo3 {
    background: #000000;
    padding: 8px 0px;
}
.mapa {
    background-color: #F9F9F9;
}
/* subrayado  */

.subrayado {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
.tablaPartidosMapa {
    height: 18rem;
    overflow-y: scroll;
}
.tablaPartidosMapa th {
    border-bottom-color: #D5007f !important;
    font-weight: normal;
    padding: 0 0.5rem;
}
.emblemaTablaMapa {
    height: 3rem;
}
.mapaContenedor {
    padding: 1rem;
}
.tablaVotos {
    width: 100%;
    font-size: 0.8rem;
}
.tablaVotos th {
    text-align: center;
    font-weight: inherit;
    border-bottom-color: #D5007f !important;
}
.tablaVotos .tablaHeaderTotal {
    font-weight: bold;
}
.tablaVotos .tablaDescripcion {
    background-color: #ECECEC;
    font-weight: bold;
    text-align: left;
}
.tablaVotos td {
    padding: 0.6rem;
    text-align: center;
}
.tablaVotos .renglonResaltado {
    background-color: #F4B9D5;
}
.espacioSigno {
    margin-right: 15px;
}
/* Alineación de textos */

.alinearIzquierda !important {
    text-align: left;
}
.alinearDerecha {
    position: relative;
    float: right;
}
.alinearCentro {
    text-align: center !important;
}
.alinearIzquierdaTitulo {
    padding: 0px !important;
}
.tablaCircunscripcionesMapa {
    width: 100%;
    border: 1px solid;
}
.centrarBarra {}
.tablaCircunscripcionesMapaEncabezado {
    border-bottom: 2px solid #D5007f;
}
.tablaCircunscripcionesMapaEncabezado, .tablaCircunscripcionesMapaElemento {
    padding: 0.5rem;
}
.mosaicoCandidatos {
    padding: 0.5rem;
    border-top: 2px solid #D5007f;
    border-bottom: 2px solid #D5007f;
}
.mosaicoImagenCandidato {
    width: 78px;
    border-radius: 50%;
}
.cardCandidato .card {
    border: none;
    height: auto;
    min-height: 140px;
}
.back .card {
    background-color: #F5F5F5;
}
.front, .back {
    transition: -webkit-transform 0s;
    -webkit-backface-visibility: hidden;
}
.front {
    //width: 100%;
    position: absolute;
}
.back {
    //width: 100%;
    -webkit-transform: rotateY(-180deg);
}
.cardCandidato:hover .back {
    -webkit-transform: rotateY(0);
}
.cardCandidato:hover .front {
    -webkit-transform: rotateY(180deg);
}
.mosaicoCandidatos .col-3 {
    padding-right: 0px;
    padding-left: 0px;
}
.front, .back {
    padding: 0.5rem;
}
.mosaicoSeparadorVertical {
    border-left: 1px solid #000000;
    position: absolute;
    height: 80%;
    top: 10%;
}
.mosaicoSeparadorHorizontal {
    border-bottom: 1px solid #000000;
    position: absolute;
    width: 90%;
    left: 5%;
}
.emblemaDetalleVotos img {
    float: left;
    height: 35px;
    margin-right: 8px;
}
.tablaScroll {
    width: 100% !important;
    overflow-x: auto;
}
.cardCandidato {
    margin: 0.5rem;
}
.sombraGanador {
    box-shadow: 0 0.2rem 1.2rem 0.2rem #888888;
}
.btnSeleccionSenaduria {
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
}
.senaduriaSeleccionada {
    background-color: #7F4583;
}
.senaduriaNoSeleccionada {
    background-color: #B28FB4;
}
.senaduriasTablaEntidadesObtenidas {
    padding-right: 0.5rem;
}
.tablaSenaduriasNacionalSinBorde {
    border: none !important;
    background-color: #FFFFFF !important;
}
.iconA {
    display: inline-block;
    border-radius: 50%;
    padding: 0.16em 0.35em;
    background-color: #B5007B;
}
.iconB {
    display: inline-block;
    border-radius: 50%;
    padding: 0.16em 0.35em;
    background-color: #632A5B;
}
.fa-a:before {
    font-family: 'Roboto', sans-serif !important;
    content: 'A';
    color: #FFFFFF;
}
.fa-downcase-a:before {
    font-family: 'Roboto', sans-serif !important;
}
.fa-b:before {
    font-family: 'Roboto', sans-serif !important;
    content: 'B';
    color: #FFFFFF;
}
.fa-downcase-b:before {
    font-family: 'Roboto', sans-serif !important;
}
.fa-home.iconoBlanco {
    color: #FFFFFF;
}
.fa-question-circle.iconoBlanco {
    color: #FFFFFF;
}
.fa-search.iconoBlanco {
    color: #FFFFFF;
    vertical-align: middle !important;
}
.fa-bars.iconoBlanco {
    color: #FFFFFF;
}
.fa-window-close, .fa-plus-square {
    color: #DC2076;
    border-radius: 2px;
    height: 25px;
    width: 25px;
}
.dropdown-menu a {
    cursor: pointer;
}
.preguntaParticipacionCiudadana {
    background-color: #F5F5F5;
    width: 95%;
    padding: 8px;
}
.preguntaParticipacionCiudadana i {
    color: #D5007f;
}
.preguntaParticipacionCiudadana a {
    text-decoration: underline;
}
/*Para Datos informativos Participacion Ciudadana*/

.DatosInformativosParticipacionCiudadana i {
    color: #D5007f;
}
.DatosInformativosParticipacionCiudadana a {
    color: black;
}
.listaNominal {
    font-size: 18pt;
    color: #D5007f;
}
.progressBarParticipacionCiudadana {
    width: 90%;
    padding: 0 3%;
}
.borrarBordeTitulo {
    border-left-style: hidden !important;
    border-right-style: hidden !important;
    border-top-style: hidden !important;
    background-color: Transparent;
}
.borrarBorde {
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden !important;
    border-bottom-style: hidden !important;
    background-color: #FFFFFF;
}
.borrarBorde td {
    border: none !important;
    border-top-style: hidden !important;
    /*border-bottom-style: hidden !important;*/
    background-color: #FFFFFF;
}
.borrarBordeDerecha {
    border-right-style: hidden !important;
}
.btnFondo {
    background: #EC368D;
    color: #FFFFFF;
}
.participacionciudadanaActasGrafica {
    height: 2rem;
    background-color: #E5DAE6 !important;
}
.participacionciudadanaActasGrafica .graficaParticipacionRelleno {
    height: inherit;
    background-color: #D5007f;
}
.participacionciudadanaActasGraficaFlechas {
    margin: -1rem -0.3rem;
}
.etiquetaEsperadas {
    position: absolute;
    left: 130px;
    top: 220px;
}
.etiquetaCapturadas {
    position: absolute;
    left: 320px;
    top: 140px;
}
.etiquetaContabilizadas {
    position: absolute;
    left: 325px;
    top: 200px;
}
.formularioBusquedaCasilla {
    background-color: #FBEEF6;
}
.formularioBusquedaCasilla button {
    background-color: #7F4582;
}
.tablaResumenVotacion, .tablaDetalleVotos {
    width: 100%;
    text-align: center;
}
.tablaResumenVotacion .encabezadoDatos {
    background-color: #EDEDED;
}
.table-bordered {
    border-bottom: 2px solid #D5007f!important;
}
.table-bordered th {
    text-align: left;
}
.table-bordered td {
    text-align: center;
}
.tablaResumenVotacion th {
    border-bottom: 2px solid #D5007f!important;
}
/*
  Estilos para responsivo
*/

/* Colores Movil */

.textoColorRosaMovil {
    color: #E7398C;
}
.textoColorNegroMovil {
    color: #3A3A3A;
}
.textoColorGrisMovil {
    color: #70706E;
}
.textoColorMoradoMovil {
    color: #582E5A;
}
/* Fondos y bordes para tablas Movil */

.legend .row:nth-of-type(odd) div {
    background-color: #FFFFFF;
}
.legend .row:nth-of-type(even) div {
    background: #F5F5F5;
}
.fondoSelectMovil {
    background-color: #766BB2;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.selectMovil {
    font-size: 16px;
    padding: 5px;
    width: 50%;
}
.fondoHeaderMovil {
    background-color: #F5E7EF;
}
.fondoMenuMovil {
    background-color: #632A5B !important;
}
a.navbar-brand.menuHamburguesa:focus {
    display: none;
    background-color: #A57497 !important;
    height: auto;
    border-left: 5px solid #A57497 !important;
    border-right: 5px solid #A57497 !important;
    border-top: 5px solid #A57497 !important;
    border-bottom: 5px solid #A57497 !important;
    border-color: #A57497 !important;
}
a.navbar-brand.menuHamburguesa2 {
    display: block;
}
.menuHamburguesa:hover {
    background-color: #7f4583;
}
#listaOpciones li {
    list-style: none;
    padding-left: 30px;
    padding-top: 16px;
}
#candidaturas {
    padding-top: 40px;
}
.btn_cerrar {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #E2488E;
    background-color: Transparent;
    background-repeat: no-repeat;
}
.modal-header {
    border-bottom: 1px solid #1D1D1B !important;
}
.divConEstilos {
    padding: 10px, 0;
}
.tablaBordeInferiorMovil td {
    border-bottom: 2px solid #D5007f!important;
}
.tablaSinBordeMovil {
    border: hidden;
    min-width: 100%;
    min-height: 100%;
}
.celdaConBordeMovil {
    border-width: 2px;
    border-color: #D5007f !important;
    border-style: solid;
}
.alinearSelectMovil {
    width: 100%;
    height: 100%;
    text-align: center;
}
.separacionActas {
    margin-bottom: 2px;
    margin-left: 45px;
}
.textoDerecha {
    text-align: right;
}
.textoCentrado {
    text-align: center;
}
.textoIzquierda {
    text-align: left;
}
.tablaEstadistica div {
    width: 80%;
    height: 66px;
    border-right: 3px solid #3e3e3f;
}
.totalVotosMosaico {
    padding: 0.5rem 0;
}
.backElementoMosaico {
    height: inherit;
}
.textoIzquierdaTitulos {
    padding: 0px !important;
}
.dropdown-item {
    display: inline-flex !important;
}
.espacioTituloUno {
    padding-top: .5%;
    padding-bottom: .5%;
}
.espacioTituloDos {
    padding-top: 2%;
    padding-bottom: .5%;
}
.interlineado7 {
    line-height: 0.7 !important;
}
.interlineado15 {
    line-height: 1.5 !important;
}
.dropdown-item {
    display: inline-flex !important;
}
.dropdown-item:hover {
    background-color: #F2C2E0 !important;
}
.nav-item {
    flex: none !important;
}
.nav-link {
    padding: 10px 35px;
    display: inline-block;
}
.nav-link:hover {
    color: #7F4583;
}
.nav .home {
    padding-left: 15px;
    padding-right: 15px;
}
.ayudaPrincipal {
    background-color: #7F4583;
    text-align: center;
}
.ayudaPrincipal a {
    color: white;
}
.ayudaPrincipal a:hover li {
    color: white;
}
.nav li:hover {
    background-color: #F2C2E0;
    color: inherit;
}
.dropdown-menu {
    background-color: #FDF4F6 !important;
    margin: 0 !important;
    width: 100%;
}
.adicionalNav {
    color: white !important;
    display: inline-block;
    padding: 10px 18px;
    border-right: 1.5px solid white;
}
.adicionalNav:hover {
    background-color: #832e8a;
    color: white;
}
.adicionalNav a:hover {
    color: white;
}
.contAyuda {
    background-color: #7F4583;
    border-left: 1.5px solid white;
    float: right;
}
.contAyuda * {
    display: inline-block;
}
.consultaCasilla a {
    color: white;
}
.consultaCasilla a:hover {
    color: inherit;
    text-decoration: none;
}
.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.table-bordered td, .table-bordered th {
    border: 2px solid #e9ecef;
}
.tituloReporte {
    padding: 15px 0;
}
.rutaTexto {
    min-width: 170px;
}
.rutaTexto2 {
    min-width: 90px;
}
.rutaTexto3 {
    min-width: 279px;
}
.overflowSticky {
    overflow-x: hidden !important;
    position: relative;
    position: -webkit-sticky;
    top: 0;
    background: black;
    z-index: 10;
    max-width: auto !important;
}
.datosCandidato {
    margin-left: 3rem;
    left: 80px;
    position: absolute;
    top: 0;
}
.datosCandidato p:first-of-type {
    font-size: 1.05rem;
    margin-bottom: 8px;
}
.card-text {
    color: #838185;
}
.emblemaTarjetas {
    height: 32px;
}
.porcentajeMosaicoFront {
    color: #838185;
    font-size: 1.4rem;
    line-height: 0;
    margin-top: 8px;
}
.renglonPartidoVotos {
    float: left;
    margin-bottom: -10px;
    min-height: 12px;
    width: 100%;
    word-wrap: initial;
}
.totalDetalleVotos {
    word-wrap: initial;
    line-height: 2em;
}
.imgCandidato {
    width: 78px;
    margin: 20px 0 0 20px;
}
.subtituloTabla {
    text-align: left;
    background-color: #FFFFFF;
}
.tablaCeldas2x td {
    padding: 0.5rem 0;
}
.votosObtenidos {
    background: #FCF2F8;
}
.encabezadoRenglon {
    background: #EBEEF0;
}
.table-bordered thead {
    vertical-align: bottom;
    font-size: 0.9rem;
    font-weight: 500;
}
.verticalCenter {
    vertical-align: middle !important;
}
.table-bordered thead td {
    vertical-align: bottom;
}
@media only screen and (max-width: 992px) {
    body {
        line-height: 1 !important;
    }
    .container-movil {
        width: 100%;
        margin: 0;
        padding: 0px 15px;
    }
    .headerMovil {
        border-bottom-style: solid;
        border-bottom-width: 0.2rem;
        border-bottom-color: #D5007f;
    }
    .menuMovil {
        position: absolute;
        /*El div será ubicado con relación a la pantalla*/
        left: 0px;
        /*A la derecha deje un espacio de 0px*/
        right: 0px;
        /*A la izquierda deje un espacio de 0px*/
        bottom: 0px;
        /*Abajo deje un espacio de 0px*/
        margin: 0;
        padding: 0;
        /*height:50px;*/
        /*alto del div*/
    }
    img.logosMovil {
        margin: 8px 0px;
        height: 37px;
    }
    .navegadorCandidatura {
        background: rgba(255, 255, 255, 0);
        border: none;
        color: #FFFFFF;
        text-align-last: center;
        font-weight: bold;
        font-size: 16px;
    }
    .modal-body, .modal-header {
        background-color: #1D1D1B;
        color: #ffffff;
    }
    .fa-times-circle-o.iconoRosa {
        color: #D5007f;
    }
    .listaOpciones {
        text-decoration: underline;
        -webkit-text-decoration-color: #DC2076 !important;
        /* Safari */
        text-decoration-color: #DC2076 !important;
    }
    .opcSeleccionada {
        text-decoration: underline;
        -webkit-text-decoration-color: #7f4583 !important;
        /* Safari */
        text-decoration-color: #7f4583 !important;
    }
    #modalTamanio {
        width: 95% !important;
    }
    #modalMenuMovil, #modalBusquedaMovil {
        background: #1D1D1B;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: all .5s;
    }
    .sinBorde {
        border-style: none !important;
    }
    .tablaDiputacionesNacionalMovil {
        width: 100%;
        text-align: center;
    }
    .tablaDiputacionesNacionalMovil .headerTabla {
        background-color: #FDF4F6;
    }
    .elementoBodyGris {
        background-color: #F4F4F4;
    }
    .tablaDiputacionesNacionalMovil .elementoHeaderContenido {
        padding: 0.4rem 0;
    }
    .tablaDiputacionesNacionalMovil .elementoHeader {
        margin: 0.8rem 0;
    }
    .tablaDiputacionesNacionalMovil .headerBordes {
        border-left: 2px solid #D5007f;
        border-right: 2px solid #D5007f;
    }
    .tablaDiputacionesNacionalMovil .renglonFondo {
        border-bottom: 1px solid #7F75B7;
    }
    .tablaDiputacionesNacionalMovil .renglonFondoRosa {
        border-bottom: 1px solid #D5007f;
    }
    .tablaDiputacionesNacionalMovil .headerDerecho {
        border-right: 2px solid #D5007f;
    }
    .tablaDiputacionesNacionalMovil .headerDerechoGris {
        border-right: 2px solid #6F6F6F;
    }
    .headerIzquierdo {
        border-left: 2px solid #6F6F6F;
    }
    .tablaDiputacionesNacionalMovil .headerDerechoNegro {
        border-right: 1px solid #000000;
        height: 30%;
    }
    .tablaDiputacionesNacionalMovil .headerControlesTablaSecciones {
        background-color: #766BB2;
        padding: 0.8rem 0;
    }
    .tablaDiputacionesNacionalMovil .headerDescarga {
        background-color: #F5F5F5;
        padding: 0.8rem 0;
    }
    .headerControlesTablaSecciones .controlHeader {
        font-size: 2rem;
    }
    .headerControlesTablaSecciones .controlHeader i {
        color: #F4CBEC;
        cursor: pointer;
    }
    .tablaEstadisticaSeccionesMovil .headerTabla {
        background-color: #F4F4F4;
    }
    .tablaEstadisticaSeccionesMovil .elementoHeader {
        margin: 0.8rem 0;
    }
    .tablaEstadisticaSeccionesMovil .elementoHeaderContenido {
        padding: 0.4rem 0;
    }
    .tablaEstadisticaSeccionesMovil .elementoHeader {
        margin: 0.8rem 0;
    }
    .participacionciudadanaActasGrafica {
        height: 1.5rem;
        background-color: #E5DAE6 !important;
    }
    .participacionciudadanaActasGrafica .graficaParticipacionRelleno {
        height: inherit;
        background-color: #D5007f;
    }
    /*
  .borderInferiorRosa {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-bottom-color: #950054;
  }
  */
    .botonesFiltroMovil .btnFiltroMovil {
        line-height: 1;
        width: 100%;
        height: 100%;
        white-space: unset !important;
        cursor: pointer;
        border-radius: unset;
    }
    .botonesFiltroMovil .filtroActivo {
        background-color: #d72b7e;
        color: #ffffff;
    }
    .botonesFiltroMovil .filtroInactivo {
        background-color: #f6cfe2;
        color: #716564;
    }
    .graficaPorcentajeVotosMovil {
        height: 0.5rem;
        background-color: #D6D9DB !important;
    }
    .graficaPorcentajeVotosMovil .graficaPorcentajeVotosMovilRelleno {
        height: inherit;
        background-color: #D5007f;
        border-radius: 5rem;
    }
    .textoCentrado {
        text-align: center;
    }
    .tablaImagenCandidato {
        width: 50px;
        border-radius: 4rem;
        margin: 8px 5px;
    }
    .tamanioActas {
        margin-left: 2%;
        width: 46%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .tamanioReloj {
        width: 4%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .tamanioUltimoCorte {
        width: 26%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .tamanioBotonActualizar {
        width: 20%;
        margin-top: 8px;
        margin-right: 2%;
        margin-bottom: 8px;
    }
    .tamanioBotonesFiltros {
        width: 50%;
    }
    .tamanioTituloReporte {
        margin-left: 2%;
        width: 78%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .tamanioCompartir {
        margin-right: 2%;
        width: 18%;
        margin-top: 8px;
        margin-right: 2%;
        margin-bottom: 8px;
    }
}